body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 400px;
}

h1{
    text-align: center;
}

button{
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
a {
    text-decoration: none;
}



.btn-back:hover{
    background: #f3f4f6;
    transform: translateY(-2px);
}

.login-text{
    text-align: center;
    margin-top: 15px;

}

.login-link{
    display: inline-block;
    margin-top: 15px;
    color: #2563eb;
    font-weight: bold;
}

.login-link:hover{
    text-decoration: underline;
}